# Entorno virtual
.venv/
venv/
ENV/

# Configuración de IDE
.idea/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Distribución / Empaquetado
dist/
build/
*.egg-info/

# Variables de entorno (Seguridad)
.env

#txt
*.log
*.txt

#jsonl
dataset.jsonl